$primary-color: #26F6A1;
$secondary-color: white;
$left-right-padding: 1.5rem;
$top-padding: 1.5rem;
$show-home-image: true;
$home-image: url(/portfolio/img/homepage.jpg);
$overlay-opacity: 0.4;