$primary-color: #26F6A1;
$secondary-color: white;
$overlay-color: rgb(0, 0, 0);
$left-right-padding: 1.5rem;
$top-padding: 1.5rem;
$show-home-image: true;
$home-image: url(/portfolio/img/homepage.jpg);
$aboutme-image: url(/portfolio/img/aboutme.jpg);
$overlay-opacity: 0.5;
$lg-heading-size: 2rem;
$sm-heading-size: 1rem;

@mixin mediaSm {
    @media screen and (max-width: 520px){
        @content;
    }
}

@mixin mediaMd {
    @media screen and (max-width: 768px){
        @content;
    }
}

@mixin mediaLg {
    @media screen and (min-width: 769px) and (max-width: 1170px){
        @content;
    }
}

@mixin mediaXl {
    @media screen and (min-width: 1170px){
        @content;
    }
}