@import 'config';

@mixin easeOut {
    transition: all 0.5s ease-out;
}

.buttons {
    position: fixed;
    right: calc(1.5rem + 28px);
    top: $top-padding + 0.5rem;
    cursor: pointer;
    z-index: 10;
    // @include easeOut();

    .back-btn {
        opacity: 0;
    }

    .menu-btn {
        left: -0.1rem;
        top: 0.15rem;
    }

    .menu-btn, .back-btn {
        position: absolute;
        // @include easeOut();
        &.close {
            opacity: 0;
        }
        &.show {
            opacity: 100;
        }
    }

    
}


.menu {
    visibility: hidden;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    width: 25rem;
    height: 100%;
    top: 0;
    right: 0;
    opacity: 0.8;
    background-color: black;
    transform: translate3d(100%, 0, 0);
    z-index: 5;
    @include easeOut;
    &.show {
        visibility: visible;
        transform: translate3d(0,0,0);
    }

    .menu-nav {
        margin: 0;
        width: 80%;
        font-size: 1.2rem;
        list-style: none;
        text-align: right;
        line-height: 3rem;
        // @include easeOut();
        .nav-item {
            transform: translate3d(-20rem, 0, 0);
            opacity: 0;
            @include easeOut();
            &.show {
                @include easeOut();
                transform: translate3d(0,0,0);
                opacity: 100;
            }
            &:hover {
                a{
                    color: $primary-color;
                    @include easeOut();
                }
            }

            &.current > a {
                color: $primary-color;
            }
        }
    }




    @media screen{
        // todo
    }
}
