// @import 'config';

@include mediaSm {
    main {
        &#home {
            text-align: center;
            // .lg-heading {
            //     font-size: 1.5rem;
            // }
    
            // .sm-heading {
            //     font-size: 0.8rem;
            // }
        }
        
            
        
    }

    .menu {
        width: 100%;
        align-items: center;
        .menu-nav {
            padding: 0;
            font-size: 1.8rem;
            line-height: 4.5rem;
            text-align: center;
            // padding: 0;
        }
    }
}

@include mediaMd {
    main {
        &#home {
            text-align: center;
        }
    }
}