// @import 'config';

@include mediaSm {
    main {
        // padding: 0 $left-right-padding;
        &#home {
            .title-section{
                position: relative;
                width: 100%;
                text-align: center;
            }
            
        }
        
            
        
    }

    .menu {
        width: 100%;
        align-items: center;
        .menu-nav {
            padding: 0;
            font-size: 1.8rem;
            line-height: 4.5rem;
            text-align: center;
            // padding: 0;
        }
    }
}

@include mediaMd {
    main {
        &home {
            .title-section {
                text-align: center;
            }
        }
    }
}