

@include mediaMd {
    main {
        // &#home {
        //     .title-section {
        //         text-align: center;
        //     }
        // }

        &#aboutme, &#mywork {
            
            .title-section{
                position: relative;
                // width: 100%;
                max-width: 100% !important;
                text-align: center;
                top: 0;
                padding-top: 6rem;
            }

            .content-section {
                padding-top: 3rem;
                .container {    
                    width: 80%;

                }    
            }

            .portrait-area {
                flex-direction: column;
                align-items: center;
                .social-media {
                    padding-left: 0;
                    width: 50%;
                    // justify-content: space-between;
                    padding-top: 1rem;
                    // position: relative;
                    
                }
            }
        }
    }
}

@include mediaSm {
    main {
        // padding: 0 $left-right-padding;
        &#home {
            .title-section{
                position: relative;
                width: 100%;
                text-align: center;
            }
            
        }

        // &#aboutme {
        //     .title-section{
        //         position: initial;
        //         max-width: initial;
        //     }
        // }
        
            &#mywork {

                .project-hover {
                    flex-direction: column;

                    .project-description, .project-links {
                        width: 100%;
                    }
                }
            }
        
    }

    .menu {
        width: 100%;
        align-items: center;
        .menu-nav {
            padding: 0;
            font-size: 1.8rem;
            line-height: 4.5rem;
            text-align: center;
            // padding: 0;
        }
    }
}
