@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import 'config';
@import 'menu';
@import 'mobile';
@import 'aboutme';
@import 'mywork';

* {
    box-sizing: border-box;
}



body{
    @include background;
    color: $secondary-color;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;

    .highlight{
        color: $primary-color;
    }
}


//text
a {
    color: $secondary-color;
    text-decoration: none;
}

//header
header {
    padding: 0 $left-right-padding;
    padding-top: $top-padding;
    position: fixed;
    z-index: 5;
    // width: 100%;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    .logo {
        // position: absolute;
        height: 3rem;
    }

}


main {
    width: 100%;
    padding: 0 $left-right-padding; 
    h1 {
        margin: 0;
        &.lg-heading {
            font-size: $lg-heading-size;
        } 
    }
    p{
        margin: 0;
        color: $secondary-color;
        &.sm-heading {
            margin-top: 0.3rem;
            font-size: $sm-heading-size;
        }
    }

    a {
        &:hover { 
            color: $primary-color;
            @include easeOut;
        }
    }

    .btn-default {
        background-color: rgba(0, 0, 0, 0.356);
        // border-radius: 6px;
        opacity: 1;

        
    }
    
    &#aboutme, &#mywork {
        .title-section {
            max-width: 20%;
        }
    }
    
    .title-section{      
        overflow: hidden;
        // height: 100%;
        position: fixed;    
        top: calc(50vh - 2rem);
        
        
    }


    .content-section {
        // padding: $top-padding $left-right-padding;
        width: 100%;
        float: right;
        padding-top: 6rem;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        .container {
            width: 58%;
            margin: 0 auto;
            
            @include aboutme;
            @include mywork;
        }

        .default-btn {
            background-color: black;
            padding: 0.5rem  2rem;
            border-radius: 6px;
        }
    }
}