/* -----------------global elements */
body {
  background-color: #2fed71;
}

/* -----------------global classes */

.button {
  background-color: #2fed71;
  border-style: none;
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
  text-decoration: none;
}

.button:hover{
  text-decoration: none;
  color: white;
  opacity: 0.7;
}

.fa-twitter {
  color: white;
}


/* -----------------individual elements */
#screen {
  height: 100vh;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

#quote-box {
  /* max-width: 70vw; */
  max-width: 600px;
  height: auto;
  padding: 30px;
  margin: 0 auto;
  background-color: white;
  border-radius: 5px;
}

#author {
  text-align: right;
  font-style: italic;
}

#buttons {
  justify-content: space-between;
}
