@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
.buttons {
  position: fixed;
  right: calc(1.5rem + 28px);
  top: 2rem;
  cursor: pointer;
  z-index: 10; }
  .buttons .back-btn {
    opacity: 0; }
  .buttons .menu-btn {
    left: -0.1rem;
    top: 0.15rem; }
  .buttons .menu-btn, .buttons .back-btn {
    position: absolute; }
    .buttons .menu-btn.close, .buttons .back-btn.close {
      opacity: 0; }
    .buttons .menu-btn.show, .buttons .back-btn.show {
      opacity: 100; }

.menu {
  visibility: hidden;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25rem;
  height: 100%;
  top: 0;
  right: 0;
  opacity: 0.8;
  background-color: black;
  transform: translate3d(100%, 0, 0);
  z-index: 5;
  transition: all 0.5s ease-out; }
  .menu.show {
    visibility: visible;
    transform: translate3d(0, 0, 0); }
  .menu .menu-nav {
    margin: 0;
    width: 80%;
    font-size: 1.2rem;
    list-style: none;
    text-align: right;
    line-height: 3rem; }
    .menu .menu-nav .nav-item {
      transform: translate3d(-20rem, 0, 0);
      opacity: 0;
      transition: all 0.5s ease-out; }
      .menu .menu-nav .nav-item.show {
        transition: all 0.5s ease-out;
        transform: translate3d(0, 0, 0);
        opacity: 100; }
      .menu .menu-nav .nav-item:hover a {
        color: #26F6A1;
        transition: all 0.5s ease-out; }
      .menu .menu-nav .nav-item.current > a {
        color: #26F6A1; }

@media screen and (max-width: 520px) {
  main#home {
    text-align: center; }
  .menu {
    width: 100%;
    align-items: center; }
    .menu .menu-nav {
      padding: 0;
      font-size: 1.8rem;
      line-height: 4.5rem;
      text-align: center; } }

@media screen and (max-width: 768px) {
  main#home {
    text-align: center; } }

* {
  box-sizing: border-box; }

body {
  color: white;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Noto Sans', sans-serif; }
  body#bg-img-home {
    background: url(/portfolio/img/homepage.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    body#bg-img-home:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      z-index: -1; }
  body#bg-img-aboutme {
    background: url(/portfolio/img/aboutme.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    body#bg-img-aboutme:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
      z-index: -1; }
  body .highlight {
    color: #26F6A1; }

a {
  color: white;
  text-decoration: none; }

header {
  padding: 0 1.5rem;
  padding-top: 1.5rem;
  position: fixed; }
  header .logo {
    height: 3rem; }

main {
  width: 100%;
  padding: 0 1.5rem; }
  main#home {
    overflow: hidden;
    position: absolute;
    top: calc(50vh - 2rem); }
  main h1 {
    margin: 0; }
    main h1.lg-heading {
      font-size: 2rem; }
  main p {
    margin: 0;
    color: white; }
    main p.sm-heading {
      margin-top: 0.3rem;
      font-size: 1rem; }
