@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.buttons {
  position: fixed;
  right: calc(1.5rem + 28px);
  top: 2rem;
  cursor: pointer;
  z-index: 10; }
  .buttons .back-btn {
    opacity: 0; }
  .buttons .menu-btn {
    left: -0.1rem;
    top: 0.15rem; }
  .buttons .menu-btn, .buttons .back-btn {
    position: absolute; }
    .buttons .menu-btn.close, .buttons .back-btn.close {
      opacity: 0; }
    .buttons .menu-btn.show, .buttons .back-btn.show {
      opacity: 100; }

.menu {
  visibility: hidden;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25rem;
  height: 100%;
  top: 0;
  right: 0;
  opacity: 0.8;
  background-color: black;
  transform: translate3d(100%, 0, 0);
  z-index: 5;
  transition: all 0.5s ease-out; }
  .menu.show {
    visibility: visible;
    transform: translate3d(0, 0, 0); }
  .menu .menu-nav {
    margin: 0;
    width: 80%;
    font-size: 1.2rem;
    list-style: none;
    text-align: right;
    line-height: 3rem; }
    .menu .menu-nav .nav-item {
      transform: translate3d(-20rem, 0, 0);
      opacity: 0;
      transition: all 0.5s ease-out; }
      .menu .menu-nav .nav-item.show {
        transition: all 0.5s ease-out;
        transform: translate3d(0, 0, 0);
        opacity: 100; }
      .menu .menu-nav .nav-item:hover a {
        color: #26F6A1;
        transition: all 0.5s ease-out; }
      .menu .menu-nav .nav-item.current > a {
        color: #26F6A1; }

@media screen and (max-width: 520px) {
  main#home .title-section {
    position: relative;
    width: 100%;
    text-align: center; }
  main#aboutme .title-section {
    position: initial;
    max-width: initial; }
  .menu {
    width: 100%;
    align-items: center; }
    .menu .menu-nav {
      padding: 0;
      font-size: 1.8rem;
      line-height: 4.5rem;
      text-align: center; } }

@media screen and (max-width: 768px) {
  main#aboutme .title-section {
    position: relative;
    max-width: unset !important;
    text-align: center;
    top: initial;
    padding-top: 6rem; }
  main#aboutme .content-section {
    padding-top: 3rem; }
    main#aboutme .content-section .container {
      width: 80%; }
      main#aboutme .content-section .container .portrait-area {
        flex-direction: column;
        align-items: center; }
        main#aboutme .content-section .container .portrait-area .social-media {
          padding-left: 0;
          width: 50%;
          padding-top: 1rem; } }

* {
  box-sizing: border-box; }

body {
  color: white;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Noto Sans', sans-serif; }
  body#bg-img-home {
    background: url(/portfolio/img/homepage.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    body#bg-img-home:after {
      content: "";
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      z-index: -1; }
  body#bg-img-aboutme {
    background: url(/portfolio/img/aboutme.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    body#bg-img-aboutme:after {
      content: "";
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7);
      z-index: -1; }
  body .highlight {
    color: #26F6A1; }

a {
  color: white;
  text-decoration: none; }

header {
  padding: 0 1.5rem;
  padding-top: 1.5rem;
  position: fixed; }
  header .logo {
    height: 3rem; }

main {
  width: 100%;
  padding: 0 1.5rem; }
  main h1 {
    margin: 0; }
    main h1.lg-heading {
      font-size: 2rem; }
  main p {
    margin: 0;
    color: white; }
    main p.sm-heading {
      margin-top: 0.3rem;
      font-size: 1rem; }
  main .title-section {
    overflow: hidden;
    height: 100%;
    position: fixed;
    top: calc(50vh - 2rem); }
  main#aboutme .title-section {
    max-width: 16%; }
  main .content-section {
    width: 100%;
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    main .content-section .container {
      width: 65%; }
      main .content-section .container .portrait-area {
        display: flex;
        justify-content: center; }
        main .content-section .container .portrait-area .img-container {
          max-width: 180px; }
          main .content-section .container .portrait-area .img-container img {
            width: 100%;
            height: auto;
            border-radius: 50%;
            border: 1px solid #26F6A1; }
        main .content-section .container .portrait-area .social-media {
          width: 40%;
          margin: 0;
          padding-left: 2rem;
          list-style: none;
          display: flex;
          flex-wrap: nowrap;
          flex-direction: row;
          justify-content: space-evenly;
          align-items: center; }
          main .content-section .container .portrait-area .social-media .social-media-link {
            padding: 0.5rem;
            cursor: pointer; }
            main .content-section .container .portrait-area .social-media .social-media-link a {
              text-align: center;
              position: relative; }
              main .content-section .container .portrait-area .social-media .social-media-link a .popuptext {
                visibility: hidden;
                color: white;
                opacity: 0;
                text-align: center;
                line-height: 2rem;
                position: absolute;
                left: -2.5rem;
                top: 2rem;
                width: 7rem;
                height: 2rem;
                background-color: rgba(0, 0, 0, 0.8);
                border: 1px #26F6A1 solid;
                border-radius: 5px; }
              main .content-section .container .portrait-area .social-media .social-media-link a:hover {
                transition: all 1s ease-out;
                color: #26F6A1; }
                main .content-section .container .portrait-area .social-media .social-media-link a:hover .popuptext {
                  visibility: visible;
                  transition: all 1s ease-out;
                  opacity: 1; }
      main .content-section .container .bio {
        margin: 1rem auto;
        max-width: 500px; }
        main .content-section .container .bio #name {
          text-align: center;
          color: #26F6A1; }
        main .content-section .container .bio p {
          margin-top: 0.5rem; }
